body {
    font-family: sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 48px;
    margin-top: 80px;
}
/*test*/
.menu-button {
    margin: 20px;
    padding: 10px 20px;
    background: #dcdcdc; 
    border: none;
    font-size: 20px;
    border-radius: 6px;
}

/* 左下ログアウト */
.logout {
    position: fixed;
    left: 40px;
    bottom: 40px;
    background-color: #f2e430;
    padding: 20px 30px;
    font-size: 24px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}