body {
    font-family: sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 48px;
    margin-top: 80px;
}

.menu-button {
    display: block;
    width: 250px;
    margin: 40px auto;
    padding: 25px 0;
    background-color: #19f2f2;
    font-size: 32px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* 左下ログアウト */
.logout {
    position: fixed;
    left: 40px;
    bottom: 40px;
    background-color: #f2e430;
    padding: 20px 30px;
    font-size: 24px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}