body {
    background-color: #f0f0f0;
    font-family: sans-serif;
}

.container {
    width: 500px;
    margin: 120px auto;
    padding: 80px;
    background-color: #fdf5e6;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  /* ← 影 */
    transition: 0.2s;
}

.title {
    text-align: center;
    margin-bottom: 40px;
}

.top-area {
    margin-bottom: 20px;
}

.btn-back {
    padding: 15px 20px;
    background-color: #008000;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  /* ← 影 */
    transition: 0.2s;
}

.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.form-row label {
    width: 140px;
    font-size: 20px;
}

.form-row input,
.form-row select {
    flex: 1;
    padding: 15px;
    border: none;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 10px;
    font-size: 16px
}

.btn-area {
    text-align: right;
    margin-top: 30px;
    border-radius: 8px; 
}

.btn-setting {
    padding: 15px 20px;
    background-color: #0000ff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  /* ← 影 */
    transition: 0.2s;
}