/*デザイン*/
body {
    background-color: #f5f5f5;
    font-family: sans-serif;
}

.container {
    width: 600px;
    margin: 80px auto;
    background: #fdf5e6;;
    padding: 40px;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  /* ← 影 */
    transition: 0.2s;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
}

.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

label {
    width: 160px;
    font-size: 19px;
}

input {
    flex: 1;
    padding: 8px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 10px;
    font-size: 16px
}

input[readonly] {
    background-color: #fff;
}

.button-row {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    
}

.back-btn {
    text-decoration: none;
}

.submit-btn {
    display: inline-block;
    background-color: #0044ff;
    padding: 8px 16px;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    margin-left: 10px;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  /* ← 影 */
    transition: 0.2s;
}

.back-button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #008000;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    margin-left: 10px;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  /* ← 影 */
    transition: 0.2s;
}

.back-button:hover {
    background-color: #aaa;
}

.submit-btn:hover {
    background-color: #aaa;
}