body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    background: #ffffff;
}

.container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

header {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.home-icon {
    font-size: 32px;
    padding-left: 20px;
    margin-right: auto;
}

h1 {
    margin: 0 auto;
    font-size: 40px;
    font-weight: bold;
}

.add-form {
    margin-top: 30px;
    text-align: left;
}

.add-form label {
    font-size: 16px;
    display: block;
    margin-top: 20px;
}

.add-form input {
    width: 100%;
    height: 32px;
    background: #dcdcdc;
    border: none;
    border-radius: 4px;
    margin-top: 6px;
    padding: 5px;
    font-size: 16px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.back-btn, .submit-btn {
    width: 100px;
    height: 50px;
    background: #dcdcdc;
    border: none;
    border-radius: 6px;
    font-size: 20px;
}
