body {
    font-family: sans-serif;
    margin: 0;
    text-align: center;
}

.title {
    font-size: 40px;
    margin-top: 80px;
    margin-bottom: 60px;
}

/* フォーム領域 */
.form-container {
    width: 60%;
    margin: 0 auto;
}

.form-row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}

.form-row label {
    font-size: 24px;
    width: 150px;
    text-align: right;
    margin-right: 30px;
}

.form-row input,
.form-row select {
    width: 300px;
    padding: 12px;
    font-size: 20px;
    background-color: #545454;
    border: none;
    border-radius: 4px;
}

/* ボタン配置 */
.button-area {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.back-btn,
.submit-btn {
    font-size: 28px;
    padding: 15px 40px;
    background: none;
    border: none;
    cursor: pointer;
}

.error{
    color:red;
}